<!DOCTYPE html>

<html lang="en-es">
    
    
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        
        <title>SocialULL</title>
        
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">

        <link rel="shortcut icon" type="image/x-icon" href="images/U.ico"/>
        
        <link href="css/bootstrap.min.css" rel="stylesheet">
        
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <link href="css/styles.css" rel="stylesheet">
        
    </head>
    
    
    <body>
        <% var elemento=0 %>
        <div class="wrapper">
            
            <div class="box">
                
                <div class="row row-offcanvas row-offcanvas-left">
                    
                    
                    <!-- main right col -->
                    <div class="column col-sm-12 col-xs-11" id="main">
                        
                        <!-- top nav -->
                        <div class="navbar navbar-blue navbar-static-top">  
                            <div class="navbar-header">
                                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="/inicio" class="navbar-brand logo"><img src="images/U.png" class="iconou"></img></a>
                            </div>
                            
                            <nav class="collapse navbar-collapse" role="navigation">
                                
                                <form class="navbar-form navbar-left" method="POST" action="/buscar" >
                                    <div class="input-group input-group-sm" style="max-width:360px;">
                                        <input type="text" class="form-control" placeholder="Buscar" name="search_data" id="search_data">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                                
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="/inicio"><i class="fa fa-home"></i> Inicio</a>
                                    </li>
                                    <li>
                                        <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-plus"></i> Post</a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-comments"></i> Chat </a>
                                    </li>
                                </ul>
                                
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="/perfil"><img class="img-responsive img-rounded" src=""><%= user.local.name %> <%= user.local.surname %></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="">Ajustes</a></li>
                                            <li><a href="">Acerca</a></li>
                                            <li><a href="/logout">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                
                            </nav>
                            
                        </div>
                        <!-- /top nav -->
                        
                        <div class="padding">
                            <div class="full col-sm-9">
                            
                                <!-- content -->                      
                                <div class="row">
                                    
                                    <!-- main col left --> 
                                    <div class="col-sm-3">
                                    
                                    
                                    
                                        <div class="list-group">
                                            <a href="/perfil" class="list-group-item list-group-item-action">Perfil</a>
                                            <a href="/amigos" class="list-group-item list-group-item-action">Amigos</a>
                                            <a href="#" class="list-group-item list-group-item-action">Grupos</a>
                                            <a href="#" class="list-group-item list-group-item-action">Chat</a>
                                        </div>
                                        
                                    
                                    </div>
                                    
                                    <!-- main col right -->
                                    <div class="col-sm-9">
                                        
                                        
                                        
                                        <% for(var i = 0; i < post.length; i++) { %>    <!-- post.length cantidad de post del usuario -->
                                            
                                            <% var nombre_creador = "" %>
                                            <% var apellido_creador = "" %>
                                            <% var avatar = "" %>
                                            
                                            <% if(user.id == post[i].owner) { %> 
                                                <% nombre_creador = user.local.name %>
                                                <% apellido_creador = user.local.surname %>
                                                <% avatar = user.local.avatar %>
                                            <% } else { %>
                                                <% for(var j = 0; j < useramigos.length; j++) { %>
                                                    <% if(useramigos[j].id == post[i].owner) { %>
                                                        <% nombre_creador = useramigos[j].local.name %>
                                                        <% apellido_creador = useramigos[j].local.surname %>
                                                        <% avatar = useramigos[j].local.avatar %>
                                                    <% } %>
                                                <% } %>
                                            <% } %>
                                            
                                            
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    
                                                    <div class="row">
                                                        <div class="col-sm-10">
                                                            <div class="col-sm-2">
                                                                <img class="img-thumbnail" src=<%=avatar%>>
                                                            </div>
                                                            <div class="col-sm-10">
                                                                <h4 class="nombre">
                                                                    <% if(user.id == post[i].owner){ %>
                                                                        <a href="/perfil">
                                                                            <%= nombre_creador %>
                                                                            <%= apellido_creador %>
                                                                        </a>
                                                                    <% } else {%>
                                                                        <a href="/perfil_amigo/<%= post[i].owner %>">
                                                                            <%= nombre_creador %>
                                                                            <%= apellido_creador %>
                                                                        </a>
                                                                    <% }%>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <% if(user.id == post[i].owner) { %>
                                                            <div class="col-sm-2">
                                                                <ul class="nav navbar-nav navbar-right">
                                                                    <li class="dropdown">
                                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                                                                        <ul class="dropdown-menu">
                                                                            <li><a href="">Editar</a></li>
                                                                            <li><a onclick="guardar_valor(<%= elemento %>,<%= i%>)" href="#deleteModal" role="button" data-toggle="modal">Eliminar</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                                
                                                <div class="panel-body">
                                            
                                                    <p><%= post[i].estado %></p>
                                                    
                                                    <% if(post[i].file) { %>
                                                        <div class="panel-thumbnail">
                                                            
                                                            <% if(post[i].type == "foto") { %>
                                                                <img class="img-responsive" src=<%=post[i].file%>> 
                                                            <% } else { %>
                                                                <video controls>
                                                                    <source src="<%=post[i].file%>">
                                                                </video>
                                                            <% } %>
                                                        </div>
                                                    <% } %>
                                            
                                                </div>
                                                
                                                <div class="panel-footer">
                                                    <div class="row">
                                                        <div class="col-sm-6 text-left">
                                                            
                                                            <% var given_like=0 %>
                                                            <% if(post[i].user_likes){ %>
                                                                <% for(var l = 0; l < post[i].user_likes.length; l++) { %>
                                                                    <% if(user.id == post[i].user_likes[l]) { %>
                                                                        <button type="button" class="btn btn-success">Ya le has dado Like <i class="fa fa-thumbs-o-up"></i></button>
                                                                        <% l=post[i].user_likes.length %>
                                                                        <% given_like = 1 %>
                                                                    <% } %>
                                                                <% } %>
                                                            <% } %>
                                                            
                                                            <% if(given_like==0){ %>
                                                                <form action="/Like/<%= post[i]._id %>" method="post">
                                                                    <button type="button" class="btn btn-primary" onclick="this.form.submit()">Like <i class="fa fa-thumbs-o-up"></i></button>
                                                                </form>
                                                            <% }%>
                    
                                                        </div>
                                                        <div class="col-sm-6 text-right">
                                                            <% if(post[i].likes){ %>
                                                                <p><%= post[i].likes%> Like <i class="fa fa-thumbs-o-up"></i></p>
                                                            <% } else {%>
                                                                <p>0 Like <i class="fa fa-thumbs-o-up"></i></p>
                                                            <% }%>
                                                        </div>
                                                    </div>
                                    
                                                </div>
                                                
                                            </div>
                                        <% } %>
                                        
    
                                    </div>
                                </div><!--/row-->
                                
                            
                            </div><!-- /col-9 -->
                        </div><!-- /padding -->
                    </div>
                    <!-- /main -->
                
                </div>
            </div>
        </div>
        
        
        <!--post modal-->
        <div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        Nuevo estado
                    </div>
                    
                    <form class="form center-block" method="POST" action="/post" enctype="multipart/form-data">
                        <div class="modal-body">
                                
                            <div class="form-group">
                                <textarea type="text" class="form-control input-lg" name="estado" id="estado" placeholder="¿Alguna novedad?"></textarea>
                            </div>
                                
                            
                        </div>
                        <div class="modal-footer">
                            
                            <div class="row justify-content-between">
                                
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-default btn-file">
                                        <span>
                                            <i class="fa fa-camera"></i>
                                            Foto/Video
                                        </span>
                                        <input type="file" name="file" accept="video/*,  video/x-m4v, video/webm, video/x-ms-wmv, video/x-msvideo, video/3gpp, video/flv, video/x-flv, video/mp4, video/quicktime, video/mpeg, video/ogv, .ts, .mkv, image/*"/>
                                    </span>
                                    <span class="fileinput-filename"></span>
                                    
                                </div>
                                
                                
                                <button type="submit" class="btn btn-primary btn-sm" aria-hidden="true">Post</button>
                                
                            </div>  	
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        
        
        <!--delete modal-->
        <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        Eliminar post
                    </div>

                        <div class="modal-body">
                                
                            <p>¿Estás seguro que desea eliminar el post?</p>

                        </div>
                        <div class="modal-footer">
                            <% if(post[elemento]) { %>
                                <a type="button" href="/delete_post/<%= post[elemento]._id %>" class="btn btn-danger">Eliminar</a>
                            <% } %>
                        </div>
                    
                </div>
            </div>
        </div>
        
        <!-- MODAL UPDATE POST
        
        <div id="updateModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        Actualizar estado
                    </div>
                    
                    <form class="form center-block" method="POST" action="/update_post/%= post[elemento]._id %>" enctype="multipart/form-data">
                        <div class="modal-body">
                                
                            <div class="form-group">
                                <textarea type="text" class="form-control input-lg" name="estado" id="estado" value="%= post[elemento].estado %>"></textarea>
                            </div>
                                
                            
                        </div>
                        <div class="modal-footer">
                            
                            <div class="row justify-content-between">
                                
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-default btn-file">
                                        <span>
                                            <i class="fa fa-camera"></i>
                                            Foto/Video
                                        </span>
                                        <input type="file" name="file" value="%= post[elemento].file %>" accept="video/*,  video/x-m4v, video/webm, video/x-ms-wmv, video/x-msvideo, video/3gpp, video/flv, video/x-flv, video/mp4, video/quicktime, video/mpeg, video/ogv, .ts, .mkv, image/*"/>
                                    </span>
                                    <span class="fileinput-filename"></span>
                                    
                                </div>
                                
                                
                                <button type="submit" class="btn btn-primary btn-sm" aria-hidden="true">Actualizar</button>
                                
                            </div>  	
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        
        -->
        
        
        
        <!-- script references -->
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
        
        <script>
            function guardar_valor(elemento,n){
                elemento=n;
            }
        </script>
        
    </body>
</html>